<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>簡易ToDo</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
	<div id="app" class="container-fluid mt-4">
		<h1 class="text-center border bg-success text-white m-4">{{title}}</h1>
		<div class="row">
			<div class="col-sm-12 col-lg-6 mt-4">
				<ul class="list-group">
					<li class="list-group-item active text-center">追加</li>
					<li class="list-group-item">
						<input type="text" class="w-100" v-model="task" placeholder="タスク" />
					</li>
					<li class="list-group-item">
						<button type="button" class="btn btn-info w-100 mb-2" v-on:click="todoadd">追加</button>
						<button type="button" class="btn btn-success w-100" v-on:click="todosave">状態を保存</button>
					</li>
				</p>
			</div>

			<div class="col-sm-12 col-lg-6 mt-4">
				<ul class="list-group">
					<li class="list-group-item active text-center">ToDo</li>
					<li v-for="item in list" class="list-group-item">
						{{item}}
						<button type="button" v-on:click="tododelete" class="btn btn-danger">削除</button>
					</li>
					<li class="list-group-item">
						{{task}}
						<button type="button" class="btn btn-info" v-on:click="todoadd">追加</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
<script src="jQuery/jquery-3.3.1.min.js"></script>
<script src="Vuejs/vue.js"></script>
<script>
$(function(){
	var data = JSON.parse(localStorage.getItem('list'));
	var app = new Vue({
		el:'#app',
		data:{
			title:"Hello ToDo list!",
			task:"",
			list:data
		},
		methods:{
			todoadd:function(){
				app.list.push(app.task);
				app.task = '';
			},
			tododelete:function(todo){
				var index = this.list.indexOf(todo);
				this.list.splice(index,1);
			},
			todosave:function(){
				localStorage.setItem('list',JSON.stringify(app.list));
			}
		}
	});

})
</script>
</body>
</html>