<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8" />
	<title>簡易ToDo</title>
	<link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
</head>
<body>
	<div id="app" class="container-fluid mt-4">
		<h1 class="text-center border bg-success text-white my-4">{{title}}</h1>
		<div class="row">
			<div class="col-sm-12 col-lg-6 mt-4">
				<ul class="list-group">
					<li class="list-group-item active text-center">{{add}}</li>
					<li class="list-group-item">
						<input type="text" class="w-100" v-model="task" placeholder="タスク" />
					</li>
					<li class="list-group-item">
						<button type="button" class="btn btn-info w-100 mb-2" v-on:click="todoadd">追加</button>
					</li>
				</p>
			</div>

			<div class="col-sm-12 col-lg-6 mt-4">
				<ul class="list-group">
					<li class="list-group-item active text-center">{{todo}}</li>
					<li v-for="(item,index) in list" class="list-group-item py-1">
						<p v-bind:title="item.time" class="m-0 pt-2">
							{{item.name}}
							<button type="button" v-on:click="tododelete(index)" class="btn btn-danger float-right">削除</button>
						</p>
					</li>
					<li class="list-group-item py-1">
						{{task}}
						<button type="button" class="btn btn-info" v-on:click="todoadd">追加</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
<script src="jQuery/jquery-3.3.1.min.js"></script>
<script src="Vuejs/vue.js"></script>
<script src="js/common.js"></script>
</body>
</html>